<div class="lista-pedidos">
    <h2>Lista de Pedidos</h2>
    <table mat-table [dataSource]="pedidos">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.cliente}} </td>
      </ng-container>
  
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.estado}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  